<head>
    <div class="logo">
        <a href="/">EatWell</a>
    </div>
    <nav class="nav-bar">
        <ul>
            <li><a href="/restaurant">Browse Shared Restaurant</a></li>
            <li><a href="/share">Share a restaurant</a></li>
            <li><a href="/about">About EatWell</a></li>
        </ul>
    </nav>
</head>
<div class="mobile-icon">
    <span></span>
    <span></span>
    <span></span>
</div>