<%-include('../../shared/includes/head',{pageTitle :'SignUp'})%>
</head>
<body>
<%-include('../../shared/includes/header')  %>
<main>
    <h1>all products</h1>
    <p>list of all products.....</p>
   
</main>
<%-include('../../shared/includes/footer')  %>