<%- include('../includes/head',{pageTitle:'logIn'})%>
<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<%- include('../includes/header') %>
<main>
    <h1>Log In</h1>
    <form action="" method="">

    </form>
</main>
<%- include('../includes/footer')  %>
