<%- include('../includes/head',{pageTitle:'logIn'})%>
</head>
<body>
<%- include('../includes/header') %>
<main>
    <h1>Log In</h1>
    <form action="" method="">

    </form>
</main>
<%- include('../includes/footer')  %>
