<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="style/about.css">
    <title>About eatwell</title>
</head>
<body>
 <%- include('includes/header') %>  
 <%- include('includes/side-drawer') %>
  
    <main>
            <h1>Make the world a testier place!</h1>
            <p>EatWell is website for food enthusiasts that allows you to share and discover amazing restaurants all over the world</p>
            <p>You don't need to sign up or create any account-you can simply share right away!</p>
    </main>
</body>
</html>