<%-include('../../shared/includes/head',{pageTitle :'Create New Product'}) %>
<link rel="stylesheet" href="/styles/form.css">
<script src="/script/image-preview.js" defer></script>
</head>

<body>
<%-include('../../shared/includes/header') %>
<main>
    <h1>Create New Product</h1>

    <%-include('includes/product-form',{sumbitPath:'/admin/products', product:product,  imageRequired:true}) %>
    
</main>
<%-include('../../shared/includes/footer')  %></body>