<%- include('includes/head',{pageTitle:'An error occured'})%>

</head>
<body>
<%- include('includes/header') %>
<main>
    <h1>Resoures not found!!</h1>
   <p>Unforturnately an error occured - please try again later</p>
   <a class="btn" href="/">Back to safety</a>
</main>
<%- include('includes/footer')  %>
